.card {
    margin-top: 10px;
}

.row{
    margin-bottom: 10px;
}

.form-control {
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    
}

#linkedb  {
    margin-right: 5px;
}
